.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color:white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 9px -19px;
  }
  
  .dropdown-content a {
	color: black;
	padding: 10px 10px;
	font-size: 18px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


.txt-h5
{
	padding-left: 24px !important;
	text-align: left;
	font-size: 16px;
	line-height: 31.96px;
}
.txt-h1
{
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	line-height: 21.96px;
}
.menu-opt0
{
	margin-right: 30px;
}
.menu-opt:hover
{
	text-decoration: none;
	color:blue;
	background-color: blue;
}